*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }

 body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 1170px;
	margin: auto;
}


header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}


.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}


.nav-area li {
	display: inline-block;
}


.nav-area li a {
	color: rgb(158, 50, 50);
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}


.nav-area li a:hover {
	background: #fff;
	color: #333;
}


.logo {
	float: left;
}


.logo img {
	width: 100%;
	padding: 15px 0;
}


.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}


.welcome-text h1 {
	text-align: center;
	color:plum;
	text-transform: uppercase;
	font-size: 60px;
}



.welcome-text h1 span {
	color: #00fecb;
}


.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 20px;
	display: inline-block;
	color: rgb(228, 95, 139);
}


.welcome-text a:hover {
	background: #fff;
	color: #333;
}


/*----------------------------------------------------resposive*--------------------------------------------------------*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}


	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}


	.nav-area {
		float: none;
		margin-top: 0;
	}


	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}


	.nav-area {
		text-align: center;
	}


	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}



	.welcome-text h1 {
		font-size: 30px;
	}


}


/*--------------PART=2----------------*/


.CATEGORIES{
    margin: 10px;
}

.cod-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.cod-3 img{
    width: 95%;
}


/*------------------------coustamization-----------------------------------------------*/


body {
    background: url("IMAGES/BACC.1.jpeg") no-repeat center center fixed;
    background-size: cover;
    
}
/* css reset  */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* css variables  */

:root {
  --navbar-height: 59px;
}

/* head styling */

/* logo styling */

#logo {
  margin: 24px 45px;
}

#logo img {
  height: 200px;
  width: 150px;
  border-radius: 86px;
  margin: 2px 6px;
}

/* navigation bar styling  */

/*--------------------------------------- home section styling  -------------------------------------------------*/



/* --------------------------------------------custom section STYLING ---------------------------------------------------*/

#custom-section {
  margin: 117px 10px;
}

#custom-section h1 {
  font-family: "Merienda One", cursive;
  font-size: 3rem;
  margin: 20px 4px;
  padding: 34px;
  color: rgb(14, 25, 90);
}

#custom {
  margin: 34px;
  /* display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(3, 1fr); */
}

.box {
  background-color: rgba(97, 131, 170, 0.336);
  border-radius: 20px;
}

#img1 {
  /* background-color:rgba(185, 153, 153, 0.158); */
  height: 500px;
  display: inline;
  margin: 10px 20px;
  /* border-radius: 43px; */
  border-radius: 20px;
}
#img2 {
  /* background-color:rgba(185, 153, 153, 0.158); */
  height: 400px;
  display: inline;
  margin: 23px 20px;
  /* border-radius: 43px; */
  border-radius: 20px;
}
.box img {
  /* background-color:rgba(185, 153, 153, 0.158); */
  height: 400px;
  display: inline;
  margin: 10px 20px;
  /* border-radius: 43px; */
  border-radius: 20px;
}

.box p {
  position: absolute;
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  font-family: 'Bree Serif', serif;
  margin-left: 32px;
}
.box h2 {
  font-family: "Merienda One", cursive;
  font-size: 3rem;
  margin-top: 30px;
 color: rgb(14, 25, 90);
}

.input1 {
  padding-left: 650px;
  margin-top: -341px;
  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
}

.input3 {
  padding-left: 650px;
  margin-top: 20px;
  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
}
.input4 {
  padding-left: 650px;
  margin-top: 20px;
  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
}
.ptn {
  margin: 40px;
  margin-left: 767px;
  margin-top: 20px;
  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
  background-color: rgba(0, 0, 139, 0.137);
  padding: 8px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 255, 0.404);
}

#input6 {
  padding: 16px;
  padding-left: 650px;
  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
}
#input7 {
  padding: 16px;
  padding-left: 650px;
  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
}

/* color picker */

.input2 {

  font-family: 'Bree Serif', serif;
  color: rgb(14, 25, 90);
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  margin-left: 609px;
  height: 100px;
}


.input2 ul {
  list-style: none;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.input2 ul li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}
.input2 ul li:hover {
  transform: scale(1.1);
}

#blue {
  background-color: blue;
}
#black {
  background-color: black;
}
#pink {
  background-color: rgb(185, 126, 178);
}
#white {
  background-color: rgb(255, 255, 255);
}
#red {
  background-color: red;
}


/*-------------------------------------------- utility classes  -------------------------*/

.h-primary {
  color: rgb(14, 25, 90);
  font-size: 3rem;
  padding: 12px 100px;
  font-family: "Merienda One", cursive;
}

.h-secondary {
  font-family: "Merienda One", cursive;
  font-size: 2rem;
  margin: 10px;
  color: rgb(7, 18, 78);
}
.center {
  text-align: center;
}


/*-----------------------------------------------------------FEATURED PRODUCT--------------------------------------------------*/



.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 100px;
    padding-right: 25px;
}

.cod-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.cod-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content:'' ;
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.cod-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}

.cod-4:hover{
       transform:translateY(-5px);
}



/*--------------OFFER----------*/


/*-------------------------------------------------TESTIMONIAL-------------------------------------------------------*/



body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #f8f8f8;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#ABOUT{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tom{
    font-size: 1.3rem;
    color: #2c2c2c;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px;
}

.tom i{
    background-color: #507bfc;
    box-shadow: 2px 5px 30px rgba(80,123,252,0.4);
    color: #ffffff;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0px 20px;
}

.rain{
    width:266px;
    height: 340px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.ram{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.train{
    width:50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #507bfc;
    border-radius: 0px 0px 10px 10px;
}

.verify{
    color:#17b667;
}

.sir{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sir .heart{
    color: rgba(155,155,155);
}

.sir .heart:before{
    content: '\f004';
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
}

.sir .heart-btn:checked ~ .heart:before{
    color: #e41934;
}

.sir .heart-btn{
    display: none;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details img{
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.details strong{
    font-weight: 500;
    color: #141414;
    letter-spacing: 1px;
    margin-top: 10px;
}

.details p{
    font-size: 0.8rem;
    color: #7a7a7a;
    margin: 5px 0px;
}


.ctn{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctn a{
    color:#8b8b8b;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.ctn a i{
    margin-right: 10px;
}

.ctn a:hover{
    color: #fff;
    background-color: #507bfc;
    box-shadow: 2px 5px 15px rgba(80,123,252,0.5);
    transition: all ease 0.3s;
}

.rain:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.1);
    transform: scale(1.01);
    transition: all ease 0.1s;
}

@media(max-width:612px){
    .box{
        flex-grow: 0.7;
    }
    
}



/*---------------------------------------------------CONTACT US-------------------------------------------------*/


.contact-section{
  
  background-size: cover;
  padding: 40px 0;
}


.contact-section h1{
  text-align: center;
  color:palevioletred;
}


.border{
  width: 100px;
  height: 10px;
  background: rgb(179, 110, 19);
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #ddd;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}


.contact-form-text:focus{
  box-shadow: 0 0 10px 4px rgb(165, 82, 82);
}


textarea.contact-form-text{
  resize: none;
  height: 120px;
}


.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}





/* .........................comment box................................... */


/*----------------------------------------------BRANDS----------------------------------------*/


.brands{
    margin:160px auto;
}



.cod-5 img{
    width: 100%;
    cursor:pointer;
    filter: grayscale(100%);
}

.cod-5 img:hover{
    filter: grayscale(0);
}

/*------------------------------------------FOOTER--------------------------------------------------------------*/


.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color:#fff;
    margin-bottom: 20px;
}

.footer-cod-1, .footer-cod-2, .footer .cod-3 ,footer .cod-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-cod-1{
    flex-basis: 30%;
}

.footer-cod-2{
    flex: 1;
    text-align: center;
}

.footer-cod-2 img{
    width: 100px;
    margin-bottom: 20px;
}

.footer-cod-3, .footer-cod-4{
    flex-basis: 12%;
    text-align:center;
} 

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}
/*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 0;
	right: 30px;
	z-index: 1000;
	padding: 0;
	font-size: 80px;
	color: #fff;
	cursor: pointer;
}
.chat_box{
	width: 400px;
	height: 66vh;
	position: fixed;
	bottom: 100px;
	right: 30px;
	background:#fdb9b9;
	z-index: 1000;
	transition: all 0.3s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1);
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	height: 30px;
	overflow: hidden;
	resize: none;
}
.hidden{
	display: none !important;
}
